<div class="main-container">
  <app-raised-button [buttonLabel]="'Exit'" (buttonClick)="exitSession()"></app-raised-button>
  <div color="primary" class="user-name"> Bienvenido {{potatoData.name}}</div>
  <div class="potato-container">
    <mat-card class="potato-card one">{{potatoData.score}}</mat-card>
    <app-raised-button [buttonLabel]="'Añadir patatas'" (buttonClick)="addPotatoes()"></app-raised-button>
    <app-raised-button [buttonLabel]="'Extra patatas'" [disabledStatus]="disableAutoClickerButton"
    (buttonClick)="extraPotatoes()"></app-raised-button>
  </div>
</div>
