.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem;
  background-color: #efbbff;
  &__header {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .user-name {
    font-size: 1rem;
    color: #673ab7;
    text-align: center;
    span {
      display: block;
      font-weight: bold;
    }
  }
}

.potato-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 21rem;
  margin: auto;
  gap: 1rem;
  .potato-card {
    text-align: center;
    max-width: 5rem;
  }

}
