<div class="main-container"  *ngIf="potatoData">
  <div class="main-container__header">
    <app-raised-button [buttonLabel]="'Exit'" (buttonClick)="exitSession()"></app-raised-button>
    <div color="primary" class="user-name"> Bienvenido <span>{{potatoData.name}}</span></div>
  </div>
  <div class="potato-container">
    <mat-card class="potato-card">{{potatoData.score | customUnits}}</mat-card>
    <app-raised-button [buttonLabel]="'Añadir patatas'" (buttonClick)="addPotatoes()"></app-raised-button>
    <app-raised-button [buttonLabel]="'Extra patatas'" [disabledStatus]="disableAutoClickerButton"
    (buttonClick)="extraPotatoes()"></app-raised-button>
  </div>
</div>

<ng-particles
    [id]="id"
    [options]="particlesOptions"
    [particlesInit]="particlesInit"
    (particlesLoaded)="particlesLoaded($event)"
></ng-particles>
