<div class="form-container">
  <div class="title">Clicker Game</div>
  <form [formGroup]="form" class="home-form">
    <div class="home-form__label">Introduzca un nombre de usuario para iniciar o continuar sesión</div>
    <mat-form-field appearance="legacy">
      <input formControlName="name" matInput placeholder="Introduzca un usuario">
    </mat-form-field>
    <app-raised-button [buttonLabel]="'Entrar'" (buttonClick)="goToGamePage()"></app-raised-button>
  </form>
  <app-raised-button [buttonLabel]="'Ver ranking'" (buttonClick)="rankingCall()"></app-raised-button>
</div>

<ng-particles
    [id]="id"
    [options]="particlesOptions"
    [particlesInit]="particlesInit"
    (particlesLoaded)="particlesLoaded($event)"
></ng-particles>
